@model TaskManager.Domain.Model.tb_package_model
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function sub() {
        if ($("#packagename").val() == "") {
            alert("请填写程序包名称！");
            return false;
        }
    }
</script>
<div class="head">
    <div class="title">
        修改程序包 @Html.Raw(TaskManager.Web.Models.Common.HelpHtml(""))
    </div>
</div>
<div>
    <input type="hidden" value="@Model.id" id="id" />
    @using (Html.BeginForm("Update", "Package", FormMethod.Post, new { @onsubmit = "return sub()" }))
    {
    <ul class="mydetail">
        <li>
            <label>程序包名称</label><span><input type="text" id="packagename" name="packagename" value="@Model.packagename" /></span>
        </li>
        <li>
            <label>备注</label>
            <textarea id="remark" name="remark" style="height:200px">@Model.remark</textarea>
        </li>
        <li>
            <input type="submit" class="btn1" value="提交" />
        </li>
    </ul>
    }
</div>
