<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Node节点ID和WEB端对应-->
    <add key="NodeID" value="1"/>
    <!--Redis服务器地址-->
    <add key="RedisServer" value="127.0.0.1:6379"/>
  </appSettings>
  <connectionStrings>
    <!--数据库连接地址-->
    <add name="Connection" connectionString="server=192.168.11.83,1401;Initial Catalog=dyd_bs_task;User ID=sa;Password=Str0ngPassword!;"/>
  </connectionStrings>
</configuration>